@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import "tailwindcss";


@theme {
    --font-montserrat: "Montserrat", sans-serif;
    --breakpoint-nav: 900px;
    --breakpoint-hero: 1036px;
}